#footer {
  background-color: #262626;
  padding-top: 10px;
  position: static;
}
#footer .col {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0 2em;
}
#footer .col h2 {
  color: #fff;
}
#footer .col ul {
  padding: 0;
}
#footer .col .stackexchange img {
  margin: 2em 0;
}
#footer .credits {
  clear: both;
  background-color: #1d1d1d;
}
