#footer {
  background-color: #262626;
  padding-top: 10px;
  position: static;
}
#footer .col {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
#footer .credits {
  background-color: #1d1d1d;
}
